@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
}

body {
    width: 21cm;
    height: 29.7cm;
    padding: 10mm 30mm 30mm 10mm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.0pt;
    text-align: justify;
    /* change the margins as you want them to be. */
}

.header img {
    margin: 5px;
    width: 100px;
}

.header table {
    width: 100%;
}

.content table {
    margin-left: 40px;
}

.header p {
    margin: 0;
    text-align: center;
    font-size: 14.0pt;
}

.sub-header {
    margin-top: 30px;
    text-align: center;
}

.sub-header p {
    margin: 0;
}

.content {
    margin-left: 40px;
    margin-right: 40px;
}

.content table td {
    vertical-align: top;
}

.header .text-tiny {
    font-size: 9pt;
}

.header .text-big {
    font-size: 16.0pt !important;
}

.footer img {
    width: 150px;
    margin: 2px;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.footer {
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.footer table {
    width: 70%;
    justify-content: center;
}

.footer td {
    text-align: center;
    justify-content: center;
}

.text-underline {
    text-decoration: underline;
}

.content .last-bottom-letter {
    text-indent: 40px;
}

.table-default {
    width: 100%;
}

.table-default td:first-child {
    width: 25%;
}

.table-default td:last-child {
    width: 75%;
}
